<div class="contentDiv">
  <div class="container">
    <div class="row content-utilities" id="whistle_blower_form">
      <div class="col-sm-12 text-center">
        <h3>Central Park Conservancy Whistleblower Submission</h3>

        <p>This form was created with the express purpose of allowing anonymous reporting of problems, issues or

          misconduct by Central Park Conservancy staff and related workers. This website does not track any location or

          account information. The form will be submitted using an anonymous e-mail account and be sent directly to the

          Human Resource department. Thank You.</p>
      </div>
      <div class="col-sm-12">
        <%= simple_form_for @whistle_blower_multi, :html => {:class => 'form-horizontal'} do |f| %>
          <%= f.input :question_1, :as => :text, :required => false, :input_html => {rows: 3, class: "form-control"}, label: "What act occurred and how do you believe it was fraudulent, illegal, or improper? (Please include as much

detail as possible to enable a thorough investigation of the matter.):" %>
          <%= f.input :question_2, :as => :text, :required => false, :input_html => {rows: 3, class: "form-control"}, label: "When and where did the misconduct occur? (Please indicate if the actions were committed over a period of

              time):" %>
          <%= f.input :question_3, :as => :text, :required => false, :input_html => {rows: 3, class: "form-control"}, label: "What do you believe enabled the act(s) to occur? (ie; a lack of controls, circumvention of controls or collusion,

etc?):" %>
          <%= f.input :question_4, :as => :text, :required => false, :input_html => {rows: 3, class: "form-control"}, label: "Are there any witnesses who can confirm the misconduct?:" %>
          <%= f.input :check_box, :as => :boolean, label:false, :required => true, inline_label: "By checking this box, I certify that the information in this complaint is true and correct to the best of my

knowledge and belief." %>
          <div class="hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, 'Send', :class => "Button" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>